
#vanta-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 

}


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}

.container {
    position: absolute;
    text-align: center;
    padding: 40px; 
    color: #ffffff; 
    background: rgba(255, 255, 255, 0.0); 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    display: inline-block;
    max-width: 650px; 
}
.icons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 70px; 
    padding: 40px;
   
}

.icons img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    height: 75px; 
    width: 75px;
    border-radius: 12px;
}

.icons img:hover {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
    transform: scale(1.2);
    animation: pulse 0.4s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.15);
    }
}



h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

#buttons button {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#buttons button:hover {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    transform: scale(1.1);
}
