#tech-stack img {
    transition: all 0.3s ease-in-out;
}

#tech-stack img:hover {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    transform: scale(1.1);
}

.nav-link {
    color: white;
    font-weight: bold;
    font: medium;
    padding: 10px;
    transition: 0.3s;
}

.nav-link.active {
    color: #6794ff; 
    border-bottom: 2px solid #6794ff;
    transform: scale(1.1); 
}

.nav-link:hover {
    color: gray;
    transform: scale(1.05);
}

.navbar {
    filter: hue-rotate(180deg); 
}

/* Minimal scrollbar styling */
#tech-stack::-webkit-scrollbar {
    height: 6px; /* Controls thickness */
}

#tech-stack::-webkit-scrollbar-track {
    background: transparent; /* Optional: makes track invisible */
}

#tech-stack::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Light white thumb */
    border-radius: 4px;
}

#tech-stack::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Slightly darker on hover */
}

/* Firefox scrollbar */
#tech-stack {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) transparent;
}


 


