#tech-stack::-webkit-scrollbar {
    height: 6px; 
}

#tech-stack::-webkit-scrollbar-track {
    background: transparent; 
}

#tech-stack::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 4px;
}

#tech-stack::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

#tech-stack {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) transparent;
}